//FONTS
$font-outfit-light: "Outfit-Light", sans-serif;
$font-outfit-regular: "Outfit-Regular", sans-serif;
$font-outfit-bold: "Outfit-Bold", sans-serif;

//COLORS
$clr-soft-blue: #8bacd9;
$clr-white: #ffffff;
$clr-cyan: #00fff8;
$clr-cyan-with-opacity: rgba(0, 255, 248, 0.5);
$clr-very-dark-blue-main-bg: #0d192c;
$clr-very-dark-blue-card-bg: #15263f;
$clr-very-dark-blue-line: #2e405a;

//SECTIONS'S MAXIMUM WIDTH
$max-width: 90rem !default;
