@font-face {
  src: url(../assets/fonts/Outfit-Light.ttf);
  font-family: "Outfit-Light";
  font-weight: 300;
}
@font-face {
  src: url(../assets/fonts/Outfit-Regular.ttf);
  font-family: "Outfit-Regular";
  font-weight: 300;
}
@font-face {
  src: url(../assets/fonts/Outfit-Bold.ttf);
  font-family: "Outfit-Bold";
  font-weight: 700;
}
